body {
    color: #E8AB1F;
    background-color: #E8AB1F;
    /* font-size: 70px; */
}

.stButton>button{
    color: #436B53;
    background-color: #E8AB1F;
    box-sizing: 3%;
    height: 0.5em;
    width: 2.3em;
    font-size:100px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.stTextInput>div>div>input {
    color: #E8AB1F;
    font-size:500px;
    font-weight: bold;
}

.fullScreenFrame > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
